/* Reset margin and padding for body */
body {
    font-family: Arial, sans-serif;
    background-color: #ffd1df;
    color: #000000;
    text-align: center;
    padding: 50px;
    margin: 0; /* Ensure no default margin */

    background-image: url('Images/BackgroundImage.jpeg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

/* Style for header */
h1 {
    color: #000000; /* black*/
    font-size: 2.5rem;
}

/* Style for paragraph */
p {
    font-size: 1.2rem;
    color: #ffffff; /* Gray */
}

/* Center the container */
.container {
    background: rgba(249, 127, 225, 0.5); /* 50% transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



img {
    width: 500px;  /* Image width will be 500 pixels */
    height: 400px; /* Image height will be 300 pixels */
  }

  footer {
    background-color: rgba(51, 51, 51, 0.5);  /* Dark background with 50% transparency */
    color: white;                             /* White text */
    padding: 20px 0;                          /* Add padding to top and bottom */
    text-align: center;                       /* Center text */
}

  
  footer .footer-content {
    max-width: 1200px;       /* Limit width */
    margin: 0 auto;          /* Center the content */
    padding: 0 15px;         /* Add some horizontal padding */
  }
  
  footer h3 {
    font-size: 24px;
    margin-bottom: 10px;     /* Space below the heading */
  }
  
  footer p {
    font-size: 16px;
    margin: 5px 0;           /* Space between contact info */
  }
  
  footer .contact-info {
    margin-top: 20px;        /* Space above contact information */
  }
  
  footer a {
    color: #f10303;             /* White links */
    text-decoration: none;   /* Remove underline */
  }
  
  footer a:hover {
    text-decoration: underline;  /* Underline links on hover */
  }
  
  .slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
  }
  
  .slide {
    display: none;
  }
  
  .fade {
    animation: fadeEffect 1.5s ease-in-out;
  }
  
  @keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }
  
